<div class="container-fluid">
  <!-- main app container -->
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Basic Information <small>Description text here...</small> </h2>
          </div>
          <div class="body">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group col-sm-8">
                <label>NIC</label>
                <input type="text" formControlName="nic" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nic.errors }" />
                <div *ngIf="submitted && f.nic.errors" class="invalid-feedback">
                  <div *ngIf="f.nic.errors.required">nic is required</div>
                </div>
              </div>
              <div class="form-group col-sm-8">
                <label>First Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group col-sm-8">
                <label>Last Name</label>
                <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                  <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                </div>
              </div>
              <div class="form-group col-sm-8">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group col-sm-8">
                <label>Date</label>
                <input type="date" formControlName="datebirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.datebirth.errors }" />
                <div *ngIf="submitted && f.datebirth.errors" class="invalid-feedback">
                  <div *ngIf="f.datebirth.errors.required">Date is required</div>
                </div>
              </div>
              <div class="form-group col-sm-8">
                <label>Number</label>
                <input type="text" formControlName="phonenumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
                <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                  <div *ngIf="f.phonenumber.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group col-sm-8">
                <label>Gender</label>
                <input type="text" formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }" />
                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                  <div *ngIf="f.gender.errors.required">gender is required</div>
                </div>
              </div>
              <div class="form-group col-sm-8">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
              <div class="form-group col-sm-8">
                <label>Salary</label>
                <input type="text" formControlName="salary" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.salary.errors }" />
                <div *ngIf="submitted && f.salary.errors" class="invalid-feedback">
                  <div *ngIf="f.salary.errors.required">Salary is required</div>
                </div>
              </div>
              <div class="form-group col-sm-8">
                <label> Number of hours</label>
                <input type="text" formControlName="nbrehour" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nbrehour.errors }" />
                <div *ngIf="submitted && f.nbrehour.errors" class="invalid-feedback">
                  <div *ngIf="f.nbre_heur.errors.required"> Number is required</div>
                </div>
              </div>
              <div class="form-group col-sm">
                <button type="submit" class="btn btn-primary"   >Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


