<aside id="sidebar_left" class="nano nano-light affix">

  <div class="sidebar-left-content nano-content">

    <header class="sidebar-header">

      <div class="sidebar-widget author-widget">
        <div class="media">
          <a class="media-left profile-online" href="#">
            <img src="assets/img/avatars/profile_avatar.jpg" class="img-responsive" alt="">
          </a>
          <div class="media-body">
            <div>Welcome</div>
            <div class="media-author">John Iverson</div>
          </div>
        </div>
      </div>
    </header>


    <ul class="nav sidebar-menu">
      <li class="active">
        <a href="index-2.html">
          <span class="sidebar-title">Dashboards</span>
          <span class="sb-menu-icon fa fa-home"></span>
        </a>
      </li>
      <li>
        <a class="new-email" href="email-layouts.html">
          <span class="sidebar-title">New Emails</span>
          <span class="sb-menu-icon fa fa-envelope"></span>
        </a>
      </li>
      <li>
        <a href="basic-calendar.html">
          <span class="sidebar-title">Calendar</span>
          <span class="sb-menu-icon fa fa-calendar"></span>
        </a>
      </li>
      <li>
        <a class="accordion-toggle" href="#">
          <span class="sidebar-title">Forms</span>
          <span class="caret"></span>
          <span class="sb-menu-icon fa fa-list-ul"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a href="forms-elements.html">
              Elements
            </a>
          </li>
          <li>
            <a href="forms-widgets.html">
              Widgets
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              Layouts
            </a>
          </li>
          <li>
            <a href="forms-wizard.html">
              Wizard
            </a>
          </li>
          <li>
            <a href="forms-validation.html">
              Validation
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="accordion-toggle" href="#">
          <span class="sidebar-title">Sales stats</span>
          <span class="caret"></span>
          <span class="sb-menu-icon fa fa-share-square-o"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a href="dashboard2.html">
              Overview
            </a>
          </li>
          <li>
            <a href="sales-stats-products.html">
              Products
            </a>
          </li>
          <li>
            <a href="sales-stats-purchases.html">
              Purchases
            </a>
          </li>
          <li>
            <a href="sales-stats-clients.html">
              Clients
            </a>
          </li>
          <li>
            <a href="sales-stats-general-settings.html">
              General Settings
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="accordion-toggle" href="#">
          <span class="sidebar-title">Layout Templates</span>
          <span class="caret"></span>
          <span class="sb-menu-icon fa fa-desktop"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a class="accordion-toggle" href="#">
              Sidebars
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="sidebar-left-static.html">
                  Left Static
                </a>
              </li>
              <li>
                <a href="sidebar-left-fixed.html">
                  Left Fixed
                </a>
              </li>
              <li>
                <a href="sidebar-left-minified.html">
                  Left Minified
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="accordion-toggle" href="#">
              Navigation
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="navigation-static.html">
                  Static
                </a>
              </li>
              <li>
                <a href="navigation-fixed.html">
                  Fixed
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="accordion-toggle" href="#">
              Top Panel
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="top-panel.html">
                  Default
                </a>
              </li>
              <li>
                <a href="top-panel-menu.html">
                  With Menu
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="accordion-toggle" href="#">
              Content
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="content-blank.html">
                  Blank
                </a>
              </li>
              <li>
                <a href="content-fixed.html">
                  Fixed
                </a>
              </li>
              <li>
                <a href="content-hero.html">
                  Hero Content
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="accordion-toggle" href="#">
              Content Chutes
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="chute-left.html">
                  Left Static
                </a>
              </li>
              <li>
                <a href="chute-left-fixed.html">
                  Left Fixed
                </a>
              </li>
              <li>
                <a href="chute-right.html">
                  Right Static
                </a>
              </li>
              <li>
                <a href="chute-right-fixed.html">
                  Right Fixed
                </a>
              </li>
              <li>
                <a href="chute-both.html">
                  Left &amp; Right Static
                </a>
              </li>
              <li>
                <a href="chute-both-fixed.html">
                  Left &amp; Right Fixed
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="accordion-toggle" href="#">
              Boxed Frontpage
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="boxed-default.html">
                  Default
                </a>
              </li>
              <li>
                <a href="horizontal-navigation-boxed.html">
                  Optional Navigation
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="accordion-toggle" href="#">
              Horizontal Navigation
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="horizontal-navigation-small-menu.html">
                  Small Menu
                </a>
              </li>
              <li>
                <a href="horizontal-navigation-medium-menu.html">
                  Medium Menu
                </a>
              </li>
              <li>
                <a href="horizontal-navigation-large-menu.html">
                  Large Menu
                </a>
              </li>
              <li>
                <a href="horizontal-navigation-top-panel.html">
                  With Top panel
                </a>
              </li>
              <li>
                <a href="horizontal-navigation-collapsing-top-panel.html">
                  Collapsing Top panel
                </a>
              </li>
              <li>
                <a href="horizontal-navigation-boxed.html">
                  Boxed Layout
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a class="accordion-toggle" href="#">
          <span class="sidebar-title">Management Tools</span>
          <span class="caret"></span>
          <span class="sb-menu-icon fa fa-wrench"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a href="management-tools-panels.html">
              Panels
            </a>
          </li>
          <li>
            <a href="management-tools-modals.html">
              Modals
            </a>
          </li>
          <li>
            <a href="management-tools-dock.html">
              Dock
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="accordion-toggle" href="#">
          <span class="sidebar-title">Widgets</span>
          <span class="caret"></span>
          <span class="sb-menu-icon fa fa-cogs"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a href="widgets-panels.html">
              Panels
            </a>
          </li>
          <li>
            <a href="widgets-scrollers-tiles.html">
              Scrollers &amp; Tiles
            </a>
          </li>
          <li>
            <a href="widgets-tools.html">
              Tools
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="accordion-toggle" href="#">
          <span class="sidebar-title">User Interface</span>
          <span class="caret"></span>
          <span class="sb-menu-icon fa fa-star-half-full "></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a href="user-interface-alerts.html">
              Alerts
            </a>
          </li>
          <li>
            <a href="user-interface-buttons.html">
              Buttons
            </a>
          </li>
          <li>
            <a href="user-interface-typography.html">
              Typography
            </a>
          </li>
          <li>
            <a href="user-interface-panels.html">
              Panels
            </a>
          </li>
          <li>
            <a href="user-interface-progress-bars.html">
              Progress Bars
            </a>
          </li>
          <li>
            <a href="user-interface-tabs.html">
              Tabs
            </a>
          </li>
          <li>
            <a href="user-interface-icons.html">
              Icons
            </a>
          </li>
          <li>
            <a href="user-interface-grid.html">
              Grid
            </a>
          </li>
          <li>
            <a href="user-interface-progress-loader.html">
              Page Progress Loader
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="accordion-toggle" href="#">
          <span class="sidebar-title">User Forms</span>
          <span class="caret"></span>
          <span class="sb-menu-icon fa fa-tasks"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a href="user-forms-standart-inputs.html">
              Standart Inputs
            </a>
          </li>
          <li>
            <a href="user-forms-additional-inputs.html">
              Additional Inputs
            </a>
          </li>
          <li>
            <a href="user-forms-editors.html">
              Editors
            </a>
          </li>
          <li>
            <a href="user-forms-treeview.html">
              Treeview
            </a>
          </li>
          <li>
            <a href="user-forms-nestable.html">
              Nestable
            </a>
          </li>
          <li>
            <a href="user-forms-image-tools.html">
              Image Tools
            </a>
          </li>
          <li>
            <a href="user-forms-file-uploaders.html">
              File Uploaders
            </a>
          </li>
          <li>
            <a href="user-forms-notifications.html">
              Notifications
            </a>
          </li>
          <li>
            <a href="user-forms-content-sliders.html">
              Content Sliders
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="accordion-toggle" href="#">
          <span class="sidebar-title">Plugins</span>
          <span class="caret"></span>
          <span class="sb-menu-icon fa fa-crop"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a class="accordion-toggle" href="#">
              Maps
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="maps-basic.html">
                  Basic
                </a>
              </li>
              <li>
                <a href="maps-vector.html">
                  Vector
                </a>
              </li>
              <li>
                <a href="maps-full.html">
                  Full
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="accordion-toggle" href="#">
              Charts
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="charts-highcharts.html">
                  Highcharts
                </a>
              </li>
              <li>
                <a href="charts-d3.html">
                  D3 Charts
                </a>
              </li>
              <li>
                <a href="charts-flot.html">
                  Flot Charts
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="accordion-toggle" href="#">
              Tables
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="tables-basic.html">
                  Basic
                </a>
              </li>
              <li>
                <a href="tables-datatables.html">
                  Data
                </a>
              </li>
              <li>
                <a href="tables-sortable.html">
                  Sortable
                </a>
              </li>
              <li>
                <a href="tables-pricing.html">
                  Pricing
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a class="accordion-toggle" href="#">
          <span class="sidebar-title">Pages</span>
          <span class="caret"></span>
          <span class="sb-menu-icon fa fa-file-text-o"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a class="accordion-toggle" href="#">
              Utility
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="utility-confirmation.html" target="_blank">
                  Confirmation
                </a>
              </li>
              <li>
                <a href="utility-login.html" target="_blank">
                  Login
                </a>
              </li>
              <li>
                <a href="utility-register.html" target="_blank">
                  Register
                </a>
              </li>
              <li>
                <a href="utility-forgot-password.html" target="_blank">
                  Forgot Password
                </a>
              </li>
              <li>
                <a href="utility-coming-soon.html" target="_blank">
                  Coming Soon
                </a>
              </li>
              <li>
                <a href="utility-404-error.html">
                  404 Error
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="accordion-toggle" href="#">
              Basic
              <span class="caret"></span>
            </a>
            <ul class="nav sub-nav">
              <li>
                <a href="basic-search-results.html">
                  Search Results
                </a>
              </li>
              <li>
                <a href="basic-profile.html">
                  Profile
                </a>
              </li>
              <li>
                <a href="basic-timeline.html">
                  Timeline
                </a>
              </li>
              <li>
                <a href="basic-faq-page.html">
                  FAQ Page
                </a>
              </li>
              <li>
                <a href="basic-messages.html">
                  Messages
                </a>
              </li>
              <li>
                <a href="basic-gallery.html">
                  Gallery
                </a>
              </li>
              <li>
                <a href="basic-invoice.html">
                  Invoice
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="doc/index.html">
          <span class="sidebar-title">Documentation</span>
          <span class="sb-menu-icon fa fa-book"></span>
        </a>
      </li>
    </ul>

  </div>

</aside>
